@model List<Lab07.Data.Supplier>
@{
    ViewData["Title"] = "Danh sách";
}
<h1>Danh sách Nhà cung cấp (@Model.Count)</h1>

<a asp-action="Create" class="btn btn-success">Tạo mới</a>

<fieldset>
    <legend>Tìm kiếm</legend>
    <form asp-action="Index">
        <input name="TuKhoa" required placeholder="Nhập từ cần tìm" />
        <button class="btn btn-primary">Tìm</button>
    </form>
</fieldset>
<table class="table table-bordered">
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Logo</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
        </tr>
    }
</table>

